@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wilq0r');
  src:  url('fonts/icomoon.eot?wilq0r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wilq0r') format('truetype'),
    url('fonts/icomoon.woff?wilq0r') format('woff'),
    url('fonts/icomoon.svg?wilq0r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-_tax_02 .path1:before {
  content: "\e940";
  color: rgb(44, 44, 44);
}
.icon-_tax_02 .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_skill .path1:before {
  content: "\e93d";
  color: rgb(21, 95, 226);
}
.icon-_skill .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-_degree-hat:before {
  content: "\e931";
}
.icon-_mail:before {
  content: "\e930";
}
.icon-_info:before {
  content: "\e929";
}
.icon-_handbag:before {
  content: "\e905";
}
.icon-_customer_service:before {
  content: "\e904";
}
.icon-_tax:before {
  content: "\e900";
}
.icon-_newspaper:before {
  content: "\e901";
}
.icon-uniE902:before {
  content: "\e902";
}
.icon-_phone-telephone:before {
  content: "\e903";
}
.icon-_company:before {
  content: "\e906";
  color: #dcdddd;
}
.icon-_currency .path1:before {
  content: "\e907";
  color: rgb(21, 95, 226);
}
.icon-_currency .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_currency .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_currency .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_currency .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_currency .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_currency .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_currency .path8:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path1:before {
  content: "\e90e";
  color: rgb(51, 51, 51);
}
.icon-_calculator-one .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_calculator-one .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path6:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path7:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path8:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path9:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path10:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_calculator-one .path11:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_arrow_left:before {
  content: "\e919";
}
.icon-_wheelchair .path1:before {
  content: "\e91a";
  color: rgb(21, 95, 226);
}
.icon-_wheelchair .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_wheelchair .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_wheelchair .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_switch:before {
  content: "\e91e";
}
.icon-_peoples .path1:before {
  content: "\e91f";
  color: rgb(51, 51, 51);
}
.icon-_peoples .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_peoples .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_peoples .path4:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_schedule .path1:before {
  content: "\e923";
  color: rgb(51, 51, 51);
}
.icon-_schedule .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_schedule .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_schedule .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_schedule .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-cake-line:before {
  content: "\e928";
}
.icon-_search:before {
  content: "\e92a";
}
.icon-_project:before {
  content: "\e92b";
}
.icon-_message-one .path1:before {
  content: "\e92c";
  color: rgb(51, 51, 51);
}
.icon-_message-one .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_message-one .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_message-one .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_bank-card .path1:before {
  content: "\e932";
  color: rgb(51, 51, 51);
}
.icon-_bank-card .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_bank-card .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_bank-card .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_bank-card .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_user-positioning .path1:before {
  content: "\e937";
  color: rgb(21, 95, 226);
}
.icon-_user-positioning .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(21, 95, 226);
}
.icon-_user-positioning .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_user-positioning .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_user-positioning .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-_user-positioning .path6:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
